# Local .terraform directories
**/.terraform/*

# Ignore variables files
*.auto.tfvars

# Ignore override files
*.tfoverride

# Ignore environment-specific files
.envrc

# Ignore CLI configuration files
*.tfvars
.terraformrc
terraform.rc
terraform/terraform.tfstate.backup
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform.tfstate